*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-size: cover;
}

/*Barra de Menu*/

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

header{
    position: relative;
    padding: 0 2rem;
}

.barramenu{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barramenu .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.barramenu .links{
    display: flex;
    gap: 2rem;
}

.barramenu .barra_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: solid;
    border-color: black;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 950px){
    .barramenu .links{
        display: none;
    }

    .barramenu .barra_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 950px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/*Página*/
